<div class="language-selector">
  <nb-select
    [placeholder]="'LANGUAGE.SELECTOR' | translate"
    [selected]="currentLanguage$ | async"
    (selectedChange)="setLanguage($event)"
    shape="semi-round"
    size="small">
    <nb-option value="en">
      <span class="flag-icon flag-icon-us"></span>
      English
    </nb-option>
    <nb-option value="de">
      <span class="flag-icon flag-icon-de"></span>
      Deutsch
    </nb-option>
    <nb-option value="es">
      <span class="flag-icon flag-icon-es"></span>
      Español
    </nb-option>
    <nb-option value="fr">
      <span class="flag-icon flag-icon-fr"></span>
      Français
    </nb-option>
    <nb-option value="it">
      <span class="flag-icon flag-icon-it"></span>
      Italiano
    </nb-option>
    <nb-option value="ja">
      <span class="flag-icon flag-icon-jp"></span>
      日本語
    </nb-option>
    <nb-option value="pl">
      <span class="flag-icon flag-icon-pl"></span>
      Polski
    </nb-option>
    <nb-option value="ro">
      <span class="flag-icon flag-icon-ro"></span>
      Română
    </nb-option>
    <nb-option value="ru">
      <span class="flag-icon flag-icon-ru"></span>
      Русский
    </nb-option>
    <nb-option value="sk">
      <span class="flag-icon flag-icon-sk"></span>
      Slovenčina
    </nb-option>
    <nb-option value="sv">
      <span class="flag-icon flag-icon-se"></span>
      Svenska
    </nb-option>
    <nb-option value="tr">
      <span class="flag-icon flag-icon-tr"></span>
      Türkçe
    </nb-option>
    <nb-option value="zh">
      <span class="flag-icon flag-icon-cn"></span>
      中文
    </nb-option>
  </nb-select>
</div>
